.parent {
    display: grid;
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 20% 1fr 15%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

:root {
    --main-bg-color: #ffd700;
    --main-padding: 1.3em;
}

/*header*/
.div1 {
    grid-area: 1 / 1 / 2 / 4;
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
}

/*nav*/
.div2 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: var(--main-bg-color);
    padding: var(--main-padding);

}
/*footer*/
.div3 {
    grid-area: 3 / 2 / 4 / 4;
    background-color: var(--main-bg-color);
    padding: var(--main-padding);

}
/*article*/
.div4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--main-bg-color);
    padding: var(--main-padding);

}

/*ads*/
.div5 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--main-bg-color);
    padding: var(--main-padding);

}
