body {
    margin: 0;
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 1fr 70px 70px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
}

:root {
    --main-bg-color: #9bce0b;
    --main-padding: 1em;
}

/*header*/
.div1 {
    grid-area: 1 / 1 / 2 / 7;
    background-color: var(--main-bg-color);
    padding: var(--main-padding)
}

/*nav*/
.div2 {
    grid-area: 2 / 1 / 5 / 3;
    background-color: var(--main-bg-color);
    padding: var(--main-padding)

}

/*article*/
.div3 {
    grid-area: 2 / 3 / 4 / 7;
    background-color: var(--main-bg-color);
    padding: var(--main-padding)

}

/*ads*/
.div4 {
    grid-area: 4 / 3 / 5 / 7;
    background-color: var(--main-bg-color);
    padding: var(--main-padding)

}

/*footer*/
.div5 {
    grid-area: 5 / 1 / 6 / 7;
    background-color: var(--main-bg-color);
    padding: var(--main-padding)

}
