body {
    margin: 0;
}

.parent {
    display: grid;
    grid-template-columns: 20% 1fr 15%;
    grid-template-rows: 80px 1fr 70px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
}

/*Header*/
.div1 {
    grid-area: 1 / 1 / 2 / 4;
    background-color: gold;
    padding: 1em;
}

/*Footer*/
.div2 {
    grid-area: 3 / 2 / 4 / 4;
    background-color: gold;
    padding: 1em;
}

/*Nav*/
.div3 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: gold;
    padding: 1em;
}

/*Article*/
.div4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: gold;
    padding: 1em;
}

/*Ads*/
.div5 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: gold;
    padding: 1em;
}
