body {
    margin: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
    color: white;
    font-size: xx-large;
}


.div1 {
    grid-area: 1 / 1 / 2 / 5;
    background-color: gold;
    padding: 0.625em;
}


.div2 {
    grid-area: 2 / 1 / 6 / 2;
    background-color: gold;
    padding: 0.625em;
}


.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: gold;
    padding: 0.625em;
}


.div4 {
    grid-area: 2 / 3 / 3 / 5;
    background-color: gold;
    padding: 0.625em;
}


.div5 {
    grid-area: 3 / 2 / 4 / 4;
    background-color: gold;
    padding: 0.625em;
}


.div6 {
    grid-area: 3 / 4 / 4 / 5;
    background-color: gold;
    padding: 0.625em;
}


.div7 {
    grid-area: 4 / 2 / 5 / 3;
    background-color: gold;
    padding: 0.625em;
}


.div8 {
    grid-area: 4 / 3 / 5 / 4;
    background-color: gold;
    padding: 0.625em;
}


.div9 {
    grid-area: 4 / 4 / 5 / 5;
    background-color: gold;
    padding: 1em;
}


.div10 {
    grid-area: 5 / 2 / 6 / 5;
    background-color: gold;
    padding: 1em;
}
