.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

:root {
    --main-bg-color: #ffd700;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
    background-color: var(--main-bg-color);
}
.div2 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: var(--main-bg-color);
}
.div3 {
    grid-area: 3 / 2 / 4 / 4;
    background-color: var(--main-bg-color);
}
.div4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--main-bg-color);
}
.div5 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--main-bg-color);
}
