* {
    box-sizing: border-box;
}

html, body, h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: 18.5% 1fr 20%;
    grid-template-rows: 86px repeat(3, 25%) 10% 10% 45px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    /*height: 100vh;*/
    /*overflow: hidden;*/
}

.heading {
    color: #009688;
}

/*top nav*/
.div1 {
    grid-area: 1 / 1 / 2 / 4;
    background-color: black;
    overflow: hidden;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*display: inline-block;*/

}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: inherit;
}

ol {
    list-style: none;
}

.div2 a {
    text-decoration: none;
    color: black;

}

/*Nav*/
.div2 {
    grid-area: 2 / 1 / 8 / 2;
    background-color: #f0f0f0;
}

/*Last Footer*/
.div3 {
    grid-area: 7 / 2 / 8 / 4;
    background-color: #333333;
    color: white;
    align-items: center;
    padding: 10px;
}
.div3 a:link {
    color: white;
}

.div3 a:hover {
    color: white;
}

.div3 a:visited {
    color: white;
}

/*Footer*/
.div4 {
    grid-area: 6 / 2 / 7 / 4;
    background-color: #666666;
    color: #FFFFFF;
    /*padding: 30px;*/
    padding-top: 50px;
    padding-left: 15px;
    padding-bottom: 30px;
}

/*Page Count*/
.div5 {
    grid-area: 5 / 2 / 6 / 4;
    /*background-color: green;*/
    text-align: center;
    padding: 40px;
}

/*Article 1*/
.div6 {
    grid-area: 2 / 2 / 3 / 3;
    /*background-color: yellow;*/
    /*display: flex;*/
    overflow: hidden;
    padding: 25px 5px 15px;
}

/*Article 2*/
.div7 {
    grid-area: 3 / 2 / 4 / 3;
    /*background-color: blue;*/
    /*display: flex;*/
    overflow: hidden;
    padding: 25px 5px 15px;

}

/*Article 3*/
.div8 {
    grid-area: 4 / 2 / 5 / 3;
    /*display: flex;*/
    overflow: hidden;
    padding: 25px 5px 15px;

}

/*AD 1*/
.div9 {
    /*background-color: #3B94D9;*/
    grid-area: 2 / 3 / 3 / 4;
    /*padding: 25px 5px 15px;*/
    overflow: auto;
}

/*AD 2*/
.div10 {
    /*background-color: #0fb784;*/
    grid-area: 3 / 3 / 4 / 4;
    /*padding: 25px 5px 15px;*/
    overflow: auto;


}

/*AD 3*/
.div11 {
    /*background-color: #8F2C43;*/
    grid-area: 4 / 3 / 5 / 4;
    /*padding: 25px 5px 15px;*/
    overflow: auto;


}


/*logo*/
nav ul li:nth-child(1) {

}

/*about*/
nav ul li:nth-child(2) {

}

/*values*/
nav ul li:nth-child(3) {

}

/*news*/
nav ul li:nth-child(4) {

}

/*clients*/
nav ul li:nth-child(5) {

}

/*partners*/
nav ul li:nth-child(6) {

}

.box {
    /*float: top;*/
    width: auto;
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
    padding: 25px;
    border: 2px solid lightgrey;
    text-align: center;
    margin: 10px;
}

.box2 {
    /*float: bottom;*/
    width: auto;
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
    padding: 50px;
    border: 2px solid lightgrey;
    text-align: center;
    margin: 10px;

}

.button {
    border: none;
    display: inline-block;
    padding: 10px 15px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

.div5 a:hover {
    color: white;
    background-color: black;
}

.white {
    color: black;
}


.a1-nav {
    border: none;
    display: inline-block;
    padding: 35px;
    /*vertical-align: middle;*/
    overflow: hidden;
    text-decoration: none;
    /*text-align: center;*/
    color: white;
}

.div1 a:hover {
    color: white;
    background-color: #333333;
}