* {
    box-sizing: inherit;
}

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: 18.5% 1fr 20%;
    grid-template-rows: auto 1fr repeat(2, 20%) 10% 14% 45px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100vh;
}

.heading {
    color: #009688;
}

.ad-borderbox {
    border: 1px solid black;
}

/*header*/
nav {
    /*grid-area: 1 / 1 / 2 / 4;*/
    background-color: black;
    display: flex;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

a:hover {
    color: black;
}

/*.div1 a {*/
/*    text-decoration: none;*/
/*}*/

/*Nav*/
.div2 {
    grid-area: 2 / 1 / 8 / 2;
    background-color: #f0f0f0;

}

/*Last Footer*/
.div3 {
    grid-area: 7 / 2 / 8 / 4;
    background-color: #333333;
}

/*First Footer*/
.div4 {
    grid-area: 6 / 2 / 7 / 4;
    background-color: #666666;
}

/*Page Count*/
.div5 {
    grid-area: 5 / 2 / 6 / 4;
    background-color: green;
}

/*Article 1*/
.div6 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: yellow;
}

/*Article 2*/
.div7 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: blue;
}

/*Article 3*/
.div8 {
    grid-area: 4 / 2 / 5 / 3;
}

/*AD 1*/
.div9 {
    grid-area: 2 / 3 / 3 / 4;
}

/*AD 2*/
.div10 {
    grid-area: 3 / 3 / 4 / 4;
}

/*AD 3*/
.div11 {
    grid-area: 4 / 3 / 5 / 4;
}


/*logo*/
nav ul li:nth-child(1) {

}

/*about*/
nav ul li:nth-child(2) {

}

/*values*/
nav ul li:nth-child(3) {

}

/*news*/
nav ul li:nth-child(4) {

}

/*clients*/
nav ul li:nth-child(5) {

}

/* partners*/
nav ul li:nth-child(6) {

}
