@media screen and (max-width: 499px) {

    * {
        box-sizing: border-box;
    }

    body {
        display: grid;
        /*grid-template-columns: auto;*/
        /*grid-template-rows: repeat(7, auto);*/
        /*grid-column-gap: 0;*/
        /*grid-row-gap: 0;*/
        font-family: 'Roboto', sans-serif;
        /*box-sizing: border-box;*/
    }

    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    ul:link {
        color: blue;
        text-decoration: underline;

    }

    li {
        background-color: #cccccc;
        margin-bottom: 10px;
        padding: 15px;
    }

    .alert-info {
        /*grid-area: 1 / 1 / 2 / 2;*/
        background-color: #ccffff;
        padding: 1em;
        text-align: center;
        border: 1px solid #cccccc;
    }

    .alert-info a {
        text-decoration: none;
        color: #2e3a3a;
    }

    h1 {
        /*grid-area: 2 / 1 / 3 / 2;*/
        text-align: center;
        font-size: 3em;
        margin: .2em;
    }

    .nav-links {
        /*grid-area: 3 / 1 / 4 / 2;*/
        margin: 0;
        /*list-style-type: none;*/
        /*display: flex;*/
        /*flex-direction: column;*/
    }

    .header-img {
        /*grid-area: 4 / 1 / 5 / 2;*/
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    .main {
        /*grid-area: 5 / 1 / 6 / 2;*/
    }

    .sub-section {
        /*grid-area: 6 / 1 / 7 / 2;*/
        font-style: italic;
    }

    #social-media-links {
        /*grid-area: 7 / 1 / 8 / 2;*/
    }
}

/*....................................*/
/*....................................*/
/*....................................*/
/*....................................*/
/*....................................*/
/*....................................*/



@media screen and (min-width: 500px) {

    * {
        box-sizing: border-box;
    }

    body {
        display: grid;
        grid-template-columns: auto 35%;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0;
        grid-row-gap: 0;
        font-family: 'Roboto', sans-serif;

    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        /*padding: 0;*/
    }

    ul:link {
        color: blue;
        text-decoration: underline;

    }

    li {
        padding: 15px;
        /*margin-bottom: 10px;*/
        /*text-align: right;*/
    }

    .hidden-on-desktop {
        display: none;
    }

    .h1 {
        grid-area: 1 / 1 / 2 / 2;

    }

    .nav-links {
        grid-area: 1 / 2 / 2 / 3;

    }

    .header-img {
        grid-area: 2 / 1 / 3 / 3;

    }

    .main {
        grid-area: 3 / 1 / 4 / 2;

    }

    .sub-section {
        grid-area: 3 / 2 / 4 / 3;
        font-style: italic;

    }

    footer {
        grid-area: 4 / 1 / 5 / 2;

    }

    #social-media-links {
        grid-area: 4 / 2 / 5 / 3;
        /*background-color: green;*/
    }


    .responsive {
        width: 100%;
        height: auto;
    }
}