body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root{
    --main-border: 1px solid lightgrey;
    --main-border-radius: 5px;
    --main-padding: 5px;
    --main-margin: 5px;
    --main-width: auto;
}

.message-info{
    background-color: #CDDEFF;
    color:#423B9A;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    padding: var(--main-padding);
    margin: var(--main-margin);
    width: var(--main-width);

}

.message-success{
    background-color: #CFF3DA;
    color:#35814F;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    padding: var(--main-padding);
    margin: var(--main-margin);
    width: var(--main-width);
}

.message-warning{
    background-color: #FBFBC8;
    color:#AEA04F;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    padding: var(--main-padding);
    margin: var(--main-margin);
    width: var(--main-width);
}

.message-error{
    background-color: #FAD3D7;
    color: #8F2C43;
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    padding: var(--main-padding);
    margin: var(--main-margin);
    width: var(--main-width);
}