* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 500px;
    width: 500px;
    border: 6px solid black;
    /*outline-style: solid;*/
    grid-gap: 6px;
    background-color: black;
}

.div1 {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #2f447a;
    /*border: 2px solid black;*/
}
.div2 {
    grid-area: 8 / 1 / 9 / 3;
    background-color: #dc1b21;
    /*border: 2px solid black;*/

}
.div3 {
    grid-area: 6 / 1 / 8 / 3;
    background-color: white;
    /*border: 2px solid black;*/

}
.div4 {
    grid-area: 3 / 1 / 6 / 3;
    background-color: #fccb08;
    /*border: 2px solid black;*/

}
.div5 {
    grid-area: 8 / 3 / 9 / 9;
    background-color: #2f447a;
    /*border: 2px solid black;*/

}
.div6 {
    grid-area: 4 / 3 / 8 / 5;
    background-color: white;
    /*border: 2px solid black;*/

}
.div7 {
    grid-area: 1 / 3 / 4 / 9;
    background-color: #dc1b21;
    /*border: 2px solid black;*/

}
.div8 {
    grid-area: 4 / 5 / 6 / 9;
    background-color: white;
    /*border: 2px solid black;*/

}
.div9 {
    grid-area: 6 / 5 / 8 / 9;
    background-color: #fccb08;
    /*border: 2px solid black;*/

}