/*.fancy-header {*/
/*    color: purple;*/
/*    text-decoration: underline;*/
/*}*/

h1, h2, .fancy-header {
    /*color: blue;*/
    text-decoration: underline;
}

h1, p {
    text-align: center;
}

body {
    background-image:url("../img/pattern.png");
    background-color: #F4F4F4;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Raleway', sans-serif;

}

ul, ol {
    list-style-type: circle;
}

table {
    font-size: 25px;
    text-align: center;
    background-color: black;
    color: white;
}

td {
    font-size: 23px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    background-color: darkred;
}

a:link, a:visited {
    color: black;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
a:hover, a:active {
    background-color: darkred;
    color: white;
    border: 2px solid #000000;
}