@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

body {
    background-color: #ACDBFD;
    font-family: 'Lato', sans-serif;
}

.card-title {
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    height: 50em;
    margin-top: 1em;
}

.coordinates {
    visibility: hidden;
}

.cards-cont {
    /*background-color: orange;*/
    margin-top: 1em;

}

.geocoder {
    /*position: absolute;*/
    /*z-index: 1;*/
    /*width: 50%;*/
    /*left: 50%;*/
    /*margin-left: -25%;*/
    /*top: 20px;*/
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.card-body {

}