@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

body {
    background-color: #ACDBFD;
    font-family: 'Lato', sans-serif;
}

.card-title {
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    height: 50em;
    margin-top: 1em;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}